.gallery__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  color: darkslategrey;
  transition: color .3s linear;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 20px;
}

.gallery__button:hover {
  color: cadetblue;
}

@media screen and (max-width: 767px) {
  .gallery__button {
    font-size: 18px;
  }
}