.gallery__pag-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 3px;
  background-color: cadetblue;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.gallery__pag-btn:hover {
  opacity: .8;
}