.cardInfo__link {
  text-decoration: none;
  color: #fff;
  transition: color .3s linear;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.cardInfo__link:hover {
  color: rgb(255, 246, 193);
}

@media screen and (max-width: 767px) {
  .cardInfo__link {
    font-size: 18px;
  }
}
